<!-- INCLUDE overall_header.html -->

<div class="panel">
   <div class="inner"><span class="corners-top"><span></span></span>

   <div class="content">
        <h2>{L_APPLICATION_PAGETITLE}</h2>
        <span style="font-size: 1.3em;">{L_APPLICATION_WELCOME_MESSAGE}<br /><br /><br />
       
        <form method="post" action="{PROCESS_APPFORM}" id="appform"> 

	<table>
	<tr>
	<td>Character Name</td><td><input type="text" name="character_name" /></td>
	</tr>
	<tr>
	<td>Class</td><td> <!-- PHP -->
            require_once($_SERVER['DOCUMENT_ROOT'] . '/forum/wow_armory_API.php');
            echo editorForClass('character_class');
        <!-- ENDPHP --></td>
	</tr>
	<tr>
	<td>Realm</td><td>        
        <!-- PHP -->
            echo editorForRealm('realm');
        <!-- ENDPHP -->
       </td></tr>
  <tr>
  <td>Tell us a little bit about yourself and why you play the character you are:</td>
  <td><textarea name="question1" form="appform"></textarea></td>
  </tr>
  <tr>
  <td>Why are you choosing to apply to Whatever?</td>
  <td><textarea name="question2" form="appform"></textarea></td>
  </tr>
  <tr>
  <td>What do you expect from Whatever?:</td>
  <td><textarea name="question3" form="appform"></textarea></td>
  </tr>
  <tr>
  <td>Tell us a bit about your history in WoW:</td>
  <td><textarea name="question4" form="appform"></textarea></td>
  </tr>
  <tr>
  <td>Please outline all alternative characters and provide armory links:</td>
  <td><textarea name="question5" form="appform"></textarea></td>
  </tr>
  <tr>
  <td>Finally, how did you hear about us?</td>
  <td>
    <textarea name="question6" form="appform"></textarea>
  </td>
  </tr>
	</table>
        <br /><br />
        
        <input type="submit" name="submit" id ="submit" value="{L_SUBMIT}" class="button1" />
       
        </span>
      
   </div>

   <span class="corners-bottom"><span></span></span></div>
</div>


<!-- INCLUDE overall_footer.html --> 